#banner{
    background-image:  url("../img/leon/1.jpg");
    background-position: center center;
    background-size: cover;
    i{
        color: rgb(233, 48, 48);
    }
}
.flecha{
    font-size: 5rem;
}
.boton{
    border: 2px solid #DFB680;
}
.animales{
    background-image: url("../img/forest-1920x1080-min.jpg");
    background-position: center center;
    background-size: cover;
}
.produccion{
    background-image: url("../img/productionTeam/pexels-maksim-romashkin-13812449.jpg");
    background-position: center center;
    background-size: cover;
}

/* Ajustes Generales a LG  */
@media (min-width: 992px) {
    .animales{
        padding-top: 20vh !important;
        padding-bottom: 20vh !important;
    }
    .produccion{
        height: 100vh !important;
        a{
            scale: 2;
        }
    }
}
.team{
    background-image:  url("../img/productionTeam/pexels-pixabay-desenfocado.png");
    background-position: center center;
    background-size: cover;
}
.produccion{
    a{
        background-color: #DFB680;
        color: black;
        font-weight: 500;
        &:hover{
            transition: .2s;
            background-color: rgb(22, 22, 22);
            color: #DFB680;
            scale: 1.1;
            @media (min-width: 992px) {
                scale: 3;
            }
        }
    }
}

.descubrir{
    &:hover{
        transition: 0.2s;
        background-color: #DFB680;
        scale: 1.1;
    }
}